.scrolling-text{
	margin-top: 56px;
	top: auto;
	width: 100%;
	height: 25px;
	background-color: grey;
}

.center-container{
	width: 100%;
	height: 900px;
	position: absolute;
	resize: 100px;
	margin-top: 81px;
	background-image: url("Hacker.jpg");

}

.bottom-container{
	width: 100%;
	min-height: 200px;
	background-color: #343A40;
	position: absolute;
	bottom: -385px;
}

.clear{
	clear: both;
}

